@use "../abstracts" as *;

.bg-3 {
  height: 100vh;
  background-image: url("/src/assets/crew/background-crew-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .crew {
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 550px;
    width: 1200px;
    text-transform: uppercase;
    .heading-container {
      height: 34px;
      width: 50%;
      span {
        color: gray;
        padding-right: 4rem;
      }
    }
    .crew-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: calc(100% - 39px);
      .crew-member-info {
        width: 50%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        h3 {
          font-size: $moderate-heading-size;
          color: gray;
          font-family: $secondary-font;
        }
        h2 {
          font-size: $heading;
          font-family: $secondary-font;
        }
        p {
          text-transform: capitalize;
          color: $light-blue;
          width: 444px;
          line-height: 1.5rem;
        }
        .dots {
          height: 1rem;
          width: 132px;
          display: flex;
          justify-content: space-between;
          .dot {
            height: inherit;
            width: 1rem;
            border-radius: 50%;
            border: none;
            background: white;
            opacity: 0.17;
            cursor: pointer;
          }
          .dot:hover {
            opacity: 0.5 !important;
          }
        }
      }
      .img-container {
        height: 100%;
        width: 568px;
        // border: solid 1px green;
        img {
          height: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
