@use "../abstracts" as *;

.bg-2 {
  height: 100vh;
  background: url("/src/assets/destination/background-destination-desktop.jpg"),
    center/cover no-repeat;
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 550px;
    width: 1300px;
    @include respond-to("huge") {
      width: 90%;
      height: 475px;
    }
    .pick-destination {
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      @include respond-to("small") {
        width: 90%;
        font-size: 12px;
        text-align: center;
      }
      @include respond-to("tiny") {
        font-size: 10px;
      }
      span {
        color: gray;
        padding-right: 4rem;
        @include respond-to("small") {
          padding-right: 0;
        }
      }
    }
    .destination-container {
      display: flex;
      justify-content: space-between;
      height: 472px;
      width: 100%;
      .planet-desc-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        @include respond-to("substantial") {
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          row-gap: 1.25rem;
        }
        .planet-container {
          height: calc(100% - 34px);
          @include respond-to("substantial") {
            flex-direction: column;
            height: 170px;
            width: 170px;
          }
          img {
            height: 100%;
          }
        }
        .planet-info {
          width: 500px;
          @include respond-to("substantial") {
            height: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
          }
          @include respond-to("small") {
            width: 90%;
          }
          ul {
            display: flex;
            list-style-type: none;
            width: 285.5px;
            height: 34px;
            justify-content: space-between;
            position: relative;
            @include respond-to("substantial") {
              margin: 0 auto;
            }
            button {
              background: none;
              text-transform: uppercase;
              font-size: $sub-heading3-size;
              color: $light-blue;
              font-family: $main-font;
              border: none;
              cursor: pointer;
              letter-spacing: 3px;
              @include respond-to("substantial") {
                font-size: 14px;
              }
            }
            li {
              position: relative;
              height: 90%;
              .active {
                position: absolute;
                top: 100%;
                right: 0;
                height: 3px;
                width: 100%;
                display: inline-block;
                background: $light-color;
              }
            }
            button:has(+ .active) {
              color: $light-color;
            }
            li:hover > #planet-underline {
              position: absolute;
              top: 100%;
              left: 0;
              height: 3px;
              width: 100%;
              display: inline-block;
              background: $light-color;
              opacity: 0.5;
            }
          }
        }
        .line-container {
          height: 1px;
          div {
            height: inherit;
            background: $light-color;
            opacity: 0.5;
          }
        }
        .planet-name {
          height: 160px;
          font-size: $med-heading-size;
          font-family: $secondary-font;
          text-transform: uppercase;
          @include respond-to("substantial") {
            font-size: 40px;
            height: auto;
          }
        }
        .planet-description {
          padding-top: 2rem;
          padding-bottom: 2rem;
          color: $light-blue;
          @include respond-to("substantial") {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 12px;
          }
        }
        .facts-container {
          display: flex;
          align-items: center;
          gap: 7rem;
          height: 61px;
          padding-top: 1.5rem;
          @include respond-to("substantial") {
            padding-top: 0;
            justify-content: center;
          }
          h3 {
            color: $light-blue;
            text-transform: uppercase;
            font-size: $sub-heading2-size;
          }
        }
      }
    }
  }
}
