// fonts
$main-font: "Barlow Condensed", sans-serif;
$secondary-font: "Bellefair", serif;

// heading font sizes
$big-heading-size: 150px;
$med-heading-size: 100px;
$heading: 56px;
$moderate-heading-size: 32px;
$small-heading-size: 28px;

// sub heading font sizes
$sub-heading1-size: 28px;
$sub-heading2-size: 14px;
$sub-heading3-size: 16px;

// body text size
$body-size: 18px;
