@use "../abstracts" as *;
.nav {
  margin-top: 40px;
  position: relative;
  position: absolute;
  right: 0;
  height: 96px;
  width: 1385px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond-to("massive") {
    width: 90%;
  }
  .hamburger-btn {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 50%;
    background: none;
    border: none;
    display: none;
    @include respond-to("medium") {
      display: block;
    }
    @include respond-to("small") {
      width: 2rem;
      height: 30%;
    }
  }
  .underline {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 473px;
    background: $light-color;
    height: 1px;
    z-index: 3;
    opacity: 0.5;
    @include respond-to("massive") {
      display: none;
    }
  }
  .navbar-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 830px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    @include respond-to("large") {
      width: 700px;
    }
    @include respond-to("medium") {
      display: none;
    }
    .navbar {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      height: 100%;
      width: 100%;
      text-transform: uppercase;
      li {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        a {
          color: $light-color;
          text-decoration: none;
        }
        .active {
          position: absolute;
          top: 100%;
          height: 3px;
          width: 100%;
          display: inline-block;
          background: $light-color;
        }
        span {
          font-weight: 700;
        }
      }
      li:hover > #nav-underline {
        position: absolute;
        top: 100%;
        height: 3px;
        width: 100%;
        display: inline-block;
        background: $light-color;
        opacity: 0.5;
      }
    }
  }
  svg {
    cursor: pointer;
  }
}
