@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
nav {
  margin-top: 40px;
  position: relative;
  position: absolute;
  right: 0;
  height: 96px;
  width: 1385px;
  display: flex;
  justify-content: flex-end;
}
nav .logo {
  position: absolute;
  top: 25%;
  left: 0;
}
nav .underline {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 473px;
  background: #ffffff;
  height: 1px;
  z-index: 3;
  opacity: 0.5;
}
nav .navbar-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 830px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
nav .navbar-container .navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
nav .navbar-container .navbar li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
nav .navbar-container .navbar li a {
  color: #ffffff;
  text-decoration: none;
}
nav .navbar-container .navbar li .active {
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
}
nav .navbar-container .navbar li span {
  font-weight: 700;
}
nav .navbar-container .navbar li:hover > #nav-underline {
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
  opacity: 0.5;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 450px;
  width: 1160px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-45%, -50%);
}
.hero-container article {
  height: 382px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-container article h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.hero-container article h2 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  text-transform: uppercase;
}
.hero-container article p {
  font-size: 18px;
  color: #d0d6f9;
}
.hero-container .circle-container {
  width: 450px;
  height: 100%;
  position: relative;
}
.hero-container .circle-container .circle + div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: black;
  width: 100%;
  border-radius: 50%;
  opacity: 0.3;
  display: none;
}
.hero-container .circle-container .circle:hover + div {
  display: block;
}
.hero-container .circle-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 274px;
  width: 274px;
  border: none;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.hero-container .circle-container .circle h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 3px;
  background: url("/src/assets/home/background-home-desktop.jpg"), center/cover no-repeat;
}

/*# sourceMappingURL=style.css.map */
