@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
nav {
  margin-top: 40px;
  position: relative;
  position: absolute;
  right: 0;
  height: 96px;
  width: 1385px;
  display: flex;
  justify-content: flex-end;
}
nav .logo {
  position: absolute;
  top: 25%;
  left: 0;
}
nav .underline {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 473px;
  background: #ffffff;
  height: 1px;
  z-index: 3;
  opacity: 0.5;
}
nav .navbar-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 830px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
nav .navbar-container .navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
nav .navbar-container .navbar li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
nav .navbar-container .navbar li a {
  color: #ffffff;
  text-decoration: none;
}
nav .navbar-container .navbar li .active {
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
}
nav .navbar-container .navbar li span {
  font-weight: 700;
}
nav .navbar-container .navbar li:hover > #nav-underline {
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
  opacity: 0.5;
}

.bg-1 {
  height: 100vh;
  background: url("/src/assets/home/background-home-desktop.jpg"), center/cover no-repeat;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 450px;
  width: 1160px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-45%, -50%);
}
.hero-container article {
  height: 382px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-container article h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.hero-container article h2 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  text-transform: uppercase;
}
.hero-container article p {
  font-size: 18px;
  color: #d0d6f9;
}
.hero-container .circle-container {
  width: 450px;
  height: 100%;
  position: relative;
}
.hero-container .circle-container .circle + div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: black;
  width: 100%;
  border-radius: 50%;
  opacity: 0.3;
  display: none;
}
.hero-container .circle-container .circle:hover + div {
  display: block;
}
.hero-container .circle-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 274px;
  width: 274px;
  border: none;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.hero-container .circle-container .circle h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  color: black;
}

.bg-3 {
  height: 100vh;
  background-image: url("/src/assets/crew/background-crew-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-3 .crew {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 550px;
  width: 1200px;
  text-transform: uppercase;
}
.bg-3 .crew .heading-container {
  height: 34px;
  width: 50%;
}
.bg-3 .crew .heading-container span {
  color: gray;
  padding-right: 4rem;
}
.bg-3 .crew .crew-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 39px);
}
.bg-3 .crew .crew-container .crew-member-info {
  width: 50%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.bg-3 .crew .crew-container .crew-member-info h3 {
  font-size: 32px;
  color: gray;
  font-family: "Bellefair", serif;
}
.bg-3 .crew .crew-container .crew-member-info h2 {
  font-size: 56px;
  font-family: "Bellefair", serif;
}
.bg-3 .crew .crew-container .crew-member-info p {
  text-transform: capitalize;
  color: #d0d6f9;
  width: 444px;
  line-height: 1.5rem;
}
.bg-3 .crew .crew-container .crew-member-info .dots {
  height: 1rem;
  width: 132px;
  display: flex;
  justify-content: space-between;
}
.bg-3 .crew .crew-container .crew-member-info .dots .dot {
  height: inherit;
  width: 1rem;
  border-radius: 50%;
  border: none;
  background: white;
  opacity: 0.17;
  cursor: pointer;
}
.bg-3 .crew .crew-container .crew-member-info .dots .dot:hover {
  opacity: 0.5 !important;
}
.bg-3 .crew .crew-container .img-container {
  height: 100%;
  width: 568px;
}
.bg-3 .crew .crew-container .img-container img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.bg-2 {
  height: 100vh;
  background: url("/src/assets/destination/background-destination-desktop.jpg"), center/cover no-repeat;
}
.bg-2 .main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 550px;
  width: 1300px;
}
.bg-2 .main-container .pick-destination {
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.bg-2 .main-container .pick-destination span {
  color: gray;
  padding-right: 4rem;
}
.bg-2 .main-container .destination-container {
  display: flex;
  justify-content: space-between;
  height: 472px;
  width: 100%;
}
.bg-2 .main-container .destination-container .planet-desc-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-container {
  height: calc(100% - 34px);
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-container img {
  height: 100%;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info {
  width: 500px;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul {
  display: flex;
  list-style-type: none;
  width: 285.5px;
  height: 34px;
  justify-content: space-between;
  position: relative;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul button {
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul li {
  position: relative;
  height: 90%;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul li .active {
  position: absolute;
  top: 100%;
  right: 0;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul button:has(+ .active) {
  color: #ffffff;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul li:hover > #planet-underline {
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
  opacity: 0.5;
}
.bg-2 .main-container .destination-container .planet-desc-container .line-container {
  height: 1px;
}
.bg-2 .main-container .destination-container .planet-desc-container .line-container div {
  height: inherit;
  background: #ffffff;
  opacity: 0.5;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-name {
  height: 160px;
  font-size: 100px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-description {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #d0d6f9;
}
.bg-2 .main-container .destination-container .planet-desc-container .facts-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 7rem;
  height: 61px;
  padding-top: 1.5rem;
}
.bg-2 .main-container .destination-container .planet-desc-container .facts-container h3 {
  color: #d0d6f9;
  text-transform: uppercase;
  font-size: 14px;
}

.bg-4 {
  height: 100vh;
  background-image: url("/src/assets/technology/background-technology-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-4 .technology-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  height: 35rem;
  width: 100vw;
  bottom: 0;
}
.bg-4 .technology-container .tech-heading {
  height: 34px;
  width: 80%;
  text-transform: uppercase;
}
.bg-4 .technology-container .tech-heading span {
  color: gray;
  padding-right: 4rem;
}
.bg-4 .technology-container .info-container {
  height: 80%;
  width: 80%;
}
.bg-4 .technology-container .info-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bg-4 .technology-container .info-container .info .btn-container {
  height: 303px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-4 .technology-container .info-container .info .btn-container button {
  width: 100%;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}
.bg-4 .technology-container .info-container .info article {
  width: 470px;
  height: 303px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-4 .technology-container .info-container .info article h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #d0d6f9;
}
.bg-4 .technology-container .info-container .info article h2 {
  font-size: 3rem;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
.bg-4 .technology-container .info-container .info article p {
  font-size: 18px;
  color: #d0d6f9;
}
.bg-4 .technology-container .info-container .info .img-container {
  width: 515px;
  height: 100%;
}
.bg-4 .technology-container .info-container .info .img-container img {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 3px;
}

/*# sourceMappingURL=style.css.map */
