@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.nav {
  margin-top: 40px;
  position: relative;
  position: absolute;
  right: 0;
  height: 96px;
  width: 1385px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .nav {
    width: 90%;
  }
}
.nav .hamburger-btn {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 50%;
  background: none;
  border: none;
  display: none;
}
.nav .hamburger-btn svg {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #d0d6f9;
}
@media (max-width: 875px) {
  .nav .hamburger-btn {
    display: block;
  }
}
@media (max-width: 500px) {
  .nav .hamburger-btn {
    width: 2rem;
    height: 30%;
  }
}
.nav .underline {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 473px;
  background: #ffffff;
  height: 1px;
  z-index: 3;
  opacity: 0.5;
}
@media (max-width: 1400px) {
  .nav .underline {
    display: none;
  }
}
.nav .navbar-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 830px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
@media (max-width: 1000px) {
  .nav .navbar-container {
    width: 700px;
  }
}
@media (max-width: 875px) {
  .nav .navbar-container {
    display: none;
  }
}
.nav .navbar-container .navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
.nav .navbar-container .navbar li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.nav .navbar-container .navbar li a {
  color: #ffffff;
  text-decoration: none;
}
.nav .navbar-container .navbar li .active {
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
}
.nav .navbar-container .navbar li span {
  font-weight: 700;
}
.nav .navbar-container .navbar li:hover > #nav-underline {
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
  opacity: 0.5;
}

aside {
  height: 100vh;
  width: 50vw;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
aside .side-nav {
  width: 90%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
aside .side-nav .close-side {
  height: 3rem;
  width: 50px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}
aside .side-nav .close-side button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #d0d6f9;
  cursor: pointer;
}
aside .side-nav .close-side button li {
  z-index: 98;
  position: absolute;
}
aside .side-nav ul {
  height: 50vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
aside .side-nav ul li span {
  font-weight: 700;
}
aside .side-nav ul a {
  text-decoration: none;
  color: #ffffff;
}

.bg-1 {
  height: 100vh;
  background: url("/src/assets/home/background-home-desktop.jpg"), center/cover no-repeat;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 450px;
  width: 1160px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-45%, -50%);
}
@media (max-width: 1300px) {
  .hero-container {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    height: 500px;
  }
}
.hero-container article {
  height: 382px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .hero-container article {
    height: 230px;
  }
}
@media (max-width: 500px) {
  .hero-container article {
    width: 90%;
    justify-content: space-around;
  }
}
.hero-container article h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: #d0d6f9;
}
@media (max-width: 1000px) {
  .hero-container article h3 {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .hero-container article h3 {
    font-size: 12px;
  }
}
.hero-container article h2 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .hero-container article h2 {
    font-size: 80px;
  }
}
@media (max-width: 500px) {
  .hero-container article h2 {
    font-size: 60px;
  }
}
.hero-container article p {
  font-size: 18px;
  color: #d0d6f9;
}
@media (max-width: 1000px) {
  .hero-container article p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .hero-container article p {
    font-size: 10px;
  }
}
.hero-container .circle-container {
  width: 450px;
  height: 100%;
  position: relative;
}
@media (max-width: 1000px) {
  .hero-container .circle-container {
    width: 200px;
    height: 200px;
  }
}
.hero-container .circle-container .circle + div {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  background: black;
  width: 100%;
  border-radius: 50%;
  opacity: 0.3;
  display: none;
}
.hero-container .circle-container .circle:hover + div {
  display: block;
}
.hero-container .circle-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 274px;
  width: 274px;
  border: none;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
@media (max-width: 1000px) {
  .hero-container .circle-container .circle {
    width: 100%;
    height: 100%;
  }
}
.hero-container .circle-container .circle h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  color: black;
}

.bg-3 {
  height: 100vh;
  background-image: url("/src/assets/crew/background-crew-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-3 .crew {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 550px;
  width: 1200px;
  text-transform: uppercase;
}
@media (max-width: 1300px) {
  .bg-3 .crew {
    width: 90%;
  }
}
.bg-3 .crew .crew-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container {
    justify-content: flex-start;
    row-gap: 1rem;
  }
}
.bg-3 .crew .crew-container .heading-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 50%;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .heading-container {
    width: 100%;
  }
}
.bg-3 .crew .crew-container .heading-container span {
  color: gray;
  padding-right: 4rem;
}
@media (max-width: 380px) {
  .bg-3 .crew .crew-container .heading-container span {
    padding-right: 0;
  }
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container {
    flex-direction: column-reverse;
  }
}
.bg-3 .crew .crew-container .crew-member-info {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .crew-member-info {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 90%;
  }
}
.bg-3 .crew .crew-container .crew-member-info article {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
  justify-content: space-between;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .crew-member-info article {
    align-items: center;
    text-align: center;
  }
}
.bg-3 .crew .crew-container .crew-member-info h3 {
  font-size: 32px;
  color: gray;
  font-family: "Bellefair", serif;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .crew-member-info h3 {
    font-size: 14px;
  }
}
.bg-3 .crew .crew-container .crew-member-info h2 {
  font-size: 56px;
  font-family: "Bellefair", serif;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .crew-member-info h2 {
    font-size: 24px;
  }
}
.bg-3 .crew .crew-container .crew-member-info p {
  text-transform: capitalize;
  color: #d0d6f9;
  width: 444px;
  line-height: 1.5rem;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .crew-member-info p {
    font-size: 14px;
    width: 100%;
  }
}
.bg-3 .crew .crew-container .crew-member-info .dots {
  height: 1rem;
  width: 132px;
  display: flex;
  justify-content: space-between;
}
.bg-3 .crew .crew-container .crew-member-info .dots .dot {
  height: inherit;
  width: 1rem;
  border-radius: 50%;
  border: none;
  background: white;
  opacity: 0.17;
  cursor: pointer;
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .crew-member-info .dots .dot {
    width: 12px;
    height: 12px;
  }
}
.bg-3 .crew .crew-container .crew-member-info .dots .dot:hover {
  opacity: 0.5 !important;
}
.bg-3 .crew .crew-container .img-container {
  height: 100%;
  width: 568px;
  align-self: end;
}
@media (max-width: 1100px) {
  .bg-3 .crew .crew-container .img-container {
    width: 450px;
    height: 90%;
  }
}
@media (max-width: 1000px) {
  .bg-3 .crew .crew-container .img-container {
    width: 400px;
    height: 80%;
  }
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .img-container {
    width: 250px;
    height: 290px;
    align-self: center;
  }
}
.bg-3 .crew .crew-container .img-container img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .bg-3 .crew .crew-container .img-container img {
    width: inherit;
  }
}
@media (max-width: 875px) {
  .bg-3 .crew .crew-container .img-container .line-container {
    height: 1px;
  }
  .bg-3 .crew .crew-container .img-container .line-container div {
    height: inherit;
    background: #ffffff;
    opacity: 0.5;
  }
}

.bg-2 {
  height: 100vh;
  background: url("/src/assets/destination/background-destination-desktop.jpg"), center/cover no-repeat;
}
.bg-2 .main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 550px;
  width: 1300px;
}
@media (max-width: 1300px) {
  .bg-2 .main-container {
    width: 90%;
    height: 475px;
  }
}
.bg-2 .main-container .pick-destination {
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .bg-2 .main-container .pick-destination {
    width: 90%;
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .bg-2 .main-container .pick-destination {
    font-size: 10px;
  }
}
.bg-2 .main-container .pick-destination span {
  color: gray;
  padding-right: 4rem;
}
@media (max-width: 500px) {
  .bg-2 .main-container .pick-destination span {
    padding-right: 0;
  }
}
.bg-2 .main-container .destination-container {
  display: flex;
  justify-content: space-between;
  height: 472px;
  width: 100%;
}
.bg-2 .main-container .destination-container .planet-desc-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 1.25rem;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-container {
  height: calc(100% - 34px);
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container .planet-container {
    flex-direction: column;
    height: 170px;
    width: 170px;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-container img {
  height: 100%;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info {
  width: 500px;
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container .planet-info {
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
@media (max-width: 500px) {
  .bg-2 .main-container .destination-container .planet-desc-container .planet-info {
    width: 90%;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul {
  display: flex;
  list-style-type: none;
  width: 285.5px;
  height: 34px;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container .planet-info ul {
    margin: 0 auto;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul button {
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container .planet-info ul button {
    font-size: 14px;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul li {
  position: relative;
  height: 90%;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul li .active {
  position: absolute;
  top: 100%;
  right: 0;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul button:has(+ .active) {
  color: #ffffff;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-info ul li:hover > #planet-underline {
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 100%;
  display: inline-block;
  background: #ffffff;
  opacity: 0.5;
}
.bg-2 .main-container .destination-container .planet-desc-container .line-container {
  height: 1px;
}
.bg-2 .main-container .destination-container .planet-desc-container .line-container div {
  height: inherit;
  background: #ffffff;
  opacity: 0.5;
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-name {
  height: 160px;
  font-size: 100px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container .planet-name {
    font-size: 40px;
    height: auto;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .planet-description {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #d0d6f9;
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container .planet-description {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .facts-container {
  display: flex;
  align-items: center;
  gap: 7rem;
  height: 61px;
  padding-top: 1.5rem;
}
@media (max-width: 1300px) {
  .bg-2 .main-container .destination-container .planet-desc-container .facts-container {
    padding-top: 0;
    justify-content: center;
  }
}
.bg-2 .main-container .destination-container .planet-desc-container .facts-container h3 {
  color: #d0d6f9;
  text-transform: uppercase;
  font-size: 14px;
}

.bg-4 {
  height: 100vh;
  background-image: url("/src/assets/technology/background-technology-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-4 .technology-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  height: 35rem;
  width: 100vw;
  bottom: 0;
}
@media (max-width: 1300px) {
  .bg-4 .technology-container {
    height: 30rem;
  }
}
.bg-4 .technology-container .tech-heading {
  height: 34px;
  width: 80%;
  text-transform: uppercase;
}
.bg-4 .technology-container .tech-heading span {
  color: gray;
  padding-right: 4rem;
}
@media (max-width: 380px) {
  .bg-4 .technology-container .tech-heading span {
    padding-right: 0;
  }
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .tech-heading {
    width: 100%;
    text-align: center;
  }
}
.bg-4 .technology-container .info-container {
  height: 80%;
  width: 80%;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container {
    height: calc(100% - 34px - 1rem);
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
.bg-4 .technology-container .info-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info {
    flex-direction: column-reverse;
    height: 50%;
    justify-content: flex-end;
  }
}
.bg-4 .technology-container .info-container .info .tech-info {
  display: flex;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info .tech-info {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 760px) {
  .bg-4 .technology-container .info-container .info .tech-info {
    width: 100%;
  }
}
.bg-4 .technology-container .info-container .info .btn-container {
  height: 303px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info .btn-container {
    flex-direction: row;
    height: 100px;
    width: 50%;
    align-items: center;
  }
}
.bg-4 .technology-container .info-container .info .btn-container button {
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  border: solid 1px gray;
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info .btn-container button {
    height: 55px;
    width: 55px;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 500px) {
  .bg-4 .technology-container .info-container .info .btn-container button {
    height: 45px;
    width: 45px;
  }
}
.bg-4 .technology-container .info-container .info .btn-container button:hover {
  border: solid 1px white !important;
}
.bg-4 .technology-container .info-container .info article {
  width: 470px;
  height: 303px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info article {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
}
.bg-4 .technology-container .info-container .info article h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #d0d6f9;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info article h3 {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .bg-4 .technology-container .info-container .info article h3 {
    font-size: 12px;
  }
}
.bg-4 .technology-container .info-container .info article h2 {
  font-size: 3rem;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info article h2 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .bg-4 .technology-container .info-container .info article h2 {
    font-size: 1.5rem;
  }
}
.bg-4 .technology-container .info-container .info article p {
  font-size: 18px;
  color: #d0d6f9;
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info article p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .bg-4 .technology-container .info-container .info article p {
    font-size: 12px;
  }
}
.bg-4 .technology-container .info-container .info .img-container {
  width: 515px;
  height: 100%;
}
@media (max-width: 1100px) {
  .bg-4 .technology-container .info-container .info .img-container {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .bg-4 .technology-container .info-container .info .img-container {
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 600px) {
  .bg-4 .technology-container .info-container .info .img-container {
    width: 225px;
    height: 175px;
  }
}
.bg-4 .technology-container .info-container .info .img-container img {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 3px;
}

/*# sourceMappingURL=style.css.map */
